@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Pretendard, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Noto Sans KR", Arial, sans-serif;
}
